<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= homeCont %></p>
<% for( let i = 0; i < postsArray.length; i++ ) { %>
<h3><%= postsArray[i].title %> </h3>
<p><%= (postsArray[i].content).substring(0,100) + " ...." %> <a href="posts/<%=  postsArray[i].title%>">Read more</a>
</p>
<% } %>
<%- include("partials/footer") -%>